
<h1>Enter new user</h1>

<form method="POST" action="/enteruser">

    <div>Enter first name</div>
    <input type="text" name="firstname" id="firstname">

    <div>Enter lastname</div>
    <input type="text" name="lastname" id="lastname">

    <input type="submit" value="Submit">

</form>